html 
    head 
        title Create Employee Managment System 
    body 
        h1 Welcome TO Employee Managment System 
        label(for="emp_id") Enter Employee ID : 
        span #{id} 
        br 
        br 
        label(for="name") Enter Employee Name : 
        span=name 
        br 
        br 
        label(for="address") Enter Employee Address : 
        span=address 
        br 
        br 
        label(for="salary") Enter Employee Salary : 
        span=salary